body {
  font-family: sans-serif;
  color: bisque;
  background-color: rgba(0, 0, 0, 0.836);
  border: 3px solid bisque;
  text-align: center;
  line-height: 1.5;
}

h1 {
  text-align: center;
  background-color: rgba(56, 56, 56, 0.568);
}

img {
  border-radius: 100%;
  border: 2px solid bisque;
}

.chuck-img {
  height: 200px;
  width: 200px;
}

.price {
  font-size: 20px;
}

.product-details {
  list-style: none;
}

.shipping {
  font-size: 25px;
  text-transform: uppercase;
}

a:link {
  color: bisque;
  text-decoration: underline;
}

a:visited {
  color: bisque;
}

a:hover {
  text-decoration: none;
}

a:active {
  background-color: rgba(255, 228, 196, 0.212);
}

button {
  border: none;
  background-color: bisque;
  text-transform: uppercase;
  font-weight: bold;
}

button:hover {
  color: bisque;
  background-color: rgba(56, 56, 56, 0.568);
}
