* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #fdf2e9; */
  font-family: "Rubik", sans-serif;
  line-height: 2;
  color: #555;
}

section {
  padding: 3%;
}

.container {
  margin: 1% 2%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

h1 {
  font-size: 5rem;
  color: #363636;
}

.gallery {
  display: grid;
  padding: 3%;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 10px;
  width: 100%;
}

.gallery-item {
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.158);
  overflow: hidden;
  border-radius: 4px;
}

.gallery-item img {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.gallery-item:hover {
  box-shadow: 0 10px 20px 6px rgba(0, 0, 0, 0.158);
  transition: all 0.4s;
}

.gallery-item:not(:hover) {
  transition: all 0.4s;
}
